<ion-view view-title="Configs" id="tab-configs">
    <ion-content>
        <ul class="list">

            <li class="item item-toggle">
                Pausar
                <label class="toggle toggle-positive">
                    <input type="checkbox"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Fullscreen
                <label class="toggle toggle-positive">
                    <input type="checkbox"/>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

        </ul>
    </ion-content>
</ion-view>
